*{
    font-family: Sofia Pro;
    font-weight:300;
}
body, ul, li{
    margin:0;
    padding:0;
}
p, li, h1, h2, h3, h4{
    color:darkslategrey;
}
body{
    background-color: #080808;
}
.wrapper{
    width:96%;
    max-width: 1200px;
    margin:0 auto;
    padding:0 2%;
}
header{
    text-align: center;
    background: #181818;
    padding:10px 0;
}
.logo{
    margin:0;
    background: url(Vaibhav_logo.png);
    background-size:70px 70px;
    float:left;
    width:70px;
    height:70px;
}
header:after{
    content: "";
    display: block;
    clear: both;
}
header nav{
    float:right;
}

header nav li{
    list-style-type:none;
    float:left;
    margin-left:20px;
    margin-top:20px;
}
header nav li a{
    text-decoration: inherit;
    color: white;
    font-size:15px;
    text-transform: uppercase;
}
p {
    color: white;
}
h1 {
background-color: darkturquoise; 
color: black;
font-family: sans-serif;
}
h2 {
    color: white;
    text-decoration-style: solid;
    font-family: cursive;
}
.size{
    margin:50;
    background: url(download.png);
    background-size: 150px  150px;
    float:left;
    width: 150px;
    height: 150px;
}